body{
  /*background-color: #0C0C0F;*/
  background-color: #0C0C0F;
  
  /*margin-right: 5%;*/ 
}
.App {
  margin: 0;
}
.Row-Header {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
}
.Row-Header h1{
margin: 0;
font-style: normal;
text-transform: uppercase;
color:white;
font-size: 20px;
}
.LogoImg{
  width: 10%;
}
.logos img{
  max-width: 25px;
  max-height: 25px;
  margin-right: 5px;
  padding-left: 20px;
}
.Landing {

  /*object-fit: contain;*/
  
  /*justify-content: space-between;*/
  background-size:auto;
  background-size: cover;
  background-image: url(./assets/new-bg.png);
  height: auto;
}

.Landing-Flex{
  display: flex;
  padding-left: 5%;
}
.Landing-Title{
  width:40vw;
  display: grid;
}
.Landing-Title h1{
  margin-top: 10%;
  min-width: 100%;
  font-size: 4.0vw;
  color: white;
}
.Landing-Title p{
  margin-top: -1vw;
  width: 40vw;
  color:rgb(114, 114, 114);
  font-size: 5px;
  font-size: 1.15vw;
}
.Landing-Title a{
width: 40%;
}
.Landing-Title img{
  margin-top: 6%;
  width: 100%;
  min-width: 150px;
  min-height: auto;
  padding-bottom: 5%;
}

.Landing-Face-Video img{
  margin-top: -13vw;
  margin-left: 0vw;
  width: 34.0vw;
}
.Yellow-Button {
  width: 100px;
  
}

/* Right part of the website */

.Landing-Face {
  position: absolute;
  display:grid;
  left: 50%;
  margin-top: 10%;
}

.Landing-Bottom {
  display: flex;
  justify-content: center;
}

.Row {
  display: flex;
  padding-top: 3.5%;
  padding-bottom: 4%;
}
.index-6-1{
  align-items: center;
  contain: content;
  background-color: #141414e8;
  margin-right: 2.8vw;
  contain: content;
  border: 2px solid rgb(109, 109, 109);
  border-radius: 3%;
  width: 12.0vw;
  height: 17.0vw;
  
}
.index-6-1 img{
  width: 2.5vw;
  position: absolute;
  padding-left: 4.8vw;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 5px;
}
.index-6-1 h4 {
  padding-top: 4.6vw;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
.index-6-1 p{
  padding-top: 0.2vw;
  text-align: center;
  color:rgb(167, 167, 167);
  font-size: 0.92vw;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
/*
.bottom-buttons {
  margin-top: 20%;
  display: flex;
}

.buttons img{
  min-height: 20px;
  min-width: 25px;
  width: 40%;
  padding-right:20px ;
}

width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"
width="300" height="185"

*/

